@import "../../../css//mixins.scss";

.cards {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 70%;
  justify-content: space-evenly;
  @include moveUpChildren(3);
}

@media(max-width:400px){
  .cards{
    width: 100%;
  }
}