@import '../../css/mixins.scss';

.center-wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem 9rem;
    perspective: 70rem;
    @include respond (phone) {
        padding: 5rem 1rem;
    }
}
