@import '../../../css//mixins.scss';

.cards {
    display: flex;
    flex-wrap: wrap;
    padding: 10rem 0;
    @include moveUpChildren(3);
}

@media (max-width:950px){
    .cards {
        width: 90%;
    }
}

@media (max-width:375px){
    .cards {
        width: 100%;
    }
}