@import "./variables";

.btn {
    &--round {
        border-radius: 20px;
        padding: 8px 15px;
        font-size: 2rem;   
        display: block;
    }
    &--link {
        text-decoration: none;
        transition: all .2s ease-in-out;
    }
    &--primary {
        background-color: $color-primary-dark;
        color: $color-white;
        border: $color-primary-dark 2px solid;
        &:hover {
            color: $color-secondary-light;
            background-color: $color-secondary-dark;
        }
    }
    &--secondary {
        border: $color-primary-light 2px solid;
        color: $color-white;
        &:hover {
            color: $color-white;
            border: $color-primary-dark 2px solid;
        }
    }
    &--icon {
        display: inline-flex;
        align-items: center;
    }
}

.section {
    max-width: calc(1225px + 9rem);
    width: 100%;
    margin-top: 10rem;
    padding: 0 9rem;
    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;
        padding:  0 0 9rem 0;
        &--solid {
            background-color: #2d3e508f;
            clip-path: polygon(0 8rem, 100% 0, 100% calc(100% - 8rem), 0 100%);
        }
    }
    &__content {
        margin-top: 5rem;
    }
}