
.title-primary {
    font-family: 'Montserrat', sans-serif;
    &--main {
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        font-size: 5rem;
        text-transform: uppercase;
        display: block;
        letter-spacing: 4px;
    }
    &--sub {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 4rem;
        text-transform: uppercase;
        display: block;
        letter-spacing: 4px;
    }
}