// colors
$color-primary-light: hsl(224, 67%, 76%);
$color-primary-dark: hsl(230, 49%, 41%);

$color-secondary-light: hsl(221, 68%, 93%);
$color-secondary-dark: hsl(227, 42%, 51%);

$color-white: #fff;
$color-black: #000;

$color-bluegrey-dark: hsl(209, 61%, 16%);
$color-bluegrey-light: hsl(209, 23%, 60%);

$color-body-text: hsl(209, 29%, 78%);

// fonts
$default-font-size: 1.6rem;


//scrollbar
$scrollbar-background: $color-bluegrey-dark;
$scrollbar-scroller: $color-bluegrey-light;