@import "css/animations.scss";
@import "css/mixins.scss";
@import "css/typography";
@import "css/utilities";
@import "css/variables";
@import "css/components";

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: $scrollbar-scroller $scrollbar-background;
  &::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    background-color: $scrollbar-background;
  }
  &::-webkit-scrollbar-thumb {
    background: $scrollbar-scroller;
}
  @include respond(tab-land) { 
      font-size: 56.25%; 
  }
  @include respond(tab-port) { 
      font-size: 50%; 
  }
  @include respond(big-desktop) {
      font-size: 75%; 
  }
}

body {
  font-family: "Lato", "sans-serif";
  font-weight: 400;
  line-height: 1.5;
  color: #f5f3f1;
  box-sizing: border-box;
  font-size: $default-font-size;
}

.card-link {
  color: #003d4a;
  transition: .2s ease-in;
  &:visited {
    color: #003d4a
  }
  &:hover {
    opacity: .5;
  }
}
.wf-loading .material-icons {
  visibility: hidden;
  max-width: 24px;
  max-height: 24px;
  display: block;
}