@import "css/animations.scss";
@import "css/mixins.scss";

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Lato", "sans-serif";
  font-weight: 400;
  line-height: 1.5;
  color: #f5f3f1;
  box-sizing: border-box;
}

@media (max-width: 500px){
  html {
    font-size: 6px;
  }
}
 
.col {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}

