@import "../../../css//mixins.scss";

.cards {
  padding-top:5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  @include moveUpChildren(4);
}

@media(max-width:470px){
  .cards{
    width: 100%;
  }
}